$footer-height: 100px;
.complete-height {
    height: calc(100vh - #{$footer-height});
}
footer{
    height: $footer-height;
    background-color: lightblue;
}

.ribbon{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-right: 20px;
}
