@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import 'variables';
@import 'login';
@import 'chat';
@import 'home';
@import 'nav';
@import 'profile';
@import 'history';
@import 'vertical-flex-division';

.text-size {
    font-size: $text-size;
}

.full-height {
    height: 100% !important;
}

.full-width {
    width: 100% !important;
}

body {
    height: 100vh;
    width: 100%;
}
